@()
<!DOCTYPE html>

<html lang="en">
<head>
    <title>RSS Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")" >
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body>

    <script type="text/x-handlebars" data-template-name="application">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RSS Hub</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {{#link-to "posts.search" tagName="li"}}<a href="#">Posts</a>{{/link-to}}
                    {{#link-to "tags.show" tagName="li"}}<a href="#">Tags</a>{{/link-to}}
                    {{#link-to "sources" tagName="li"}}<a href="#">Sources</a>{{/link-to}}
                    {{#link-to "feeds" tagName="li"}}<a href="#">Feeds</a>{{/link-to}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if auth.signedIn}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{auth.user.name}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{#link-to "profile.show" tagName="li"}}<a href="#">Profile</a>{{/link-to}}
                            {{#link-to "logout" tagName="li"}}<a href="#">Logout</a>{{/link-to}}
                        </ul>
                    </li>
                    {{else}}
                    {{#link-to "login" tagName="li"}}<a href="#">Login</a>{{/link-to}}
                    {{#link-to "register" tagName="li"}}<a href="#">Register</a>{{/link-to}}
                    {{/if}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="container">
            {{#if message}}
            <div {{bind-attr class=":alert messageClass"}}>
            {{message}}
                <button type="button" class="close pull-right" aria-hidden="true" {{action close}}>&times;</button>
            </div>
            {{/if}}
            {{outlet}}
        </div>
        <br>
    </script>

    <script type="text/x-handlebars" data-template-name="sources">
        <ul class="nav nav-pills">
            {{#link-to "sources.new" tagName="li"}}<a href="#">Create&nbsp;<span class="glyphicon glyphicon-plus"></span></a>{{/link-to}}
        </ul>
        <br>
        <div class="list-group">
            {{#each controller}}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    {{#link-to "source" id}}{{name}}{{/link-to}}
                    <small>{{from-now fetchDate}} fetched</small>
                </h4>
                <p class="list-group-item-text">
                    <a target="_blank" {{bind-attr href=url}}>{{url}}</a>
                </p>
            </div>
            {{/each}}
        </div>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="sources/new">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    {{input id="inputName" class="form-control" placeholder="Name" value=name}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrl" class="col-lg-2 control-label">URL</label>
                <div class="col-lg-10">
                    {{input id="inputUrl" class="form-control" placeholder="URL" value=url}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" {{action "create"}}>Create&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    {{#link-to "sources.index" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name="source">
        <ul class="nav nav-pills pull-right">
            {{#link-to "source.delete" tagName="li"}}<a href="#">Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></a>{{/link-to}}
            <li><a target="_blank" {{bind-attr href=commentsFeedURL}}>Comments feed&nbsp;<span class="glyphicon glyphicon-share"></span></a></li>
        </ul>
        <h1><a target="_blank" {{bind-attr hrep=url}}>{{name}}</a></h1>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="source/delete">
        <div class="alert alert-danger">
            <h2>Delete source</h2>
            Are you sure?
            <button class="btn btn-danger" {{action "delete"}}>Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="posts">
        <ul class="nav nav-pills">
            {{#link-to "posts.search" tagName="li"}}<a href="#">Search&nbsp;<span class="glyphicon glyphicon-search"></span></a>{{/link-to}}
            {{#link-to "posts.my" tagName="li"}}<a href="#">My posts&nbsp;<span class="glyphicon glyphicon-list"></span></a>{{/link-to}}
            {{#link-to "posts.new" tagName="li"}}<a href="#">Create&nbsp;<span class="glyphicon glyphicon-plus"></span></a>{{/link-to}}
        </ul>
        <br>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="post_line">
        <div class="list-group-item post">
            {{#if distance}}
            <span class="badge pull-right">{{distance}}</span>
            {{/if}}
            <h4 class="list-group-item-heading">
                {{#link-to "post" id}}{{title}}{{/link-to}}
            </h4>
            <p class="list-group-item-text">
                <small>
                <span class="glyphicon glyphicon-tags"></span>
                &nbsp;
                {{#each tag in tags}}
                {{#link-to "tag" tag}}#{{tag.name}}{{/link-to}}
                {{else}}
                    no tags
                {{/each}}
                </small>
            </p>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="posts/search">
        <br>
        <form class="form-inline" role="form">
            <div class="form-group">
                {{input class="form-control" placeholder="Search" value=criteria}}
            </div>
            <button type="submit" class="btn btn-default" {{action "search" criteria }}>Search&nbsp;<span class="glyphicon glyphicon-search"></span></button>
        </form>
        <hr>
        <div class="list-group">
            {{#each controller}}
                {{partial "post_line"}}
            {{else}}
            <div class="alert alert-warning">
                No results
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="posts/my">
        <br>
        <div class="list-group">
            {{#each controller}}
                {{partial "post_line"}}
            {{else}}
                {{#unless loading}}
                    <div class="alert alert-warning">
                        No results
                    </div>
                {{/unless}}
            {{/each}}
            <div class="list-group-item">
                {{#if fetchable}}
                    <button class="btn btn-default btn-block" {{bindAttr disabled=loading}} {{action "fetchNext"}}>
                        {{#if loading}}Loading...{{else}}Next{{/if}}
                    </button>
                {{else}}
                <div class="alert alert-info">
                    All posts fetched
                </div>
                {{/if}}
            </div>

        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="post_edit">
        <div class="form-group">
            <label for="inputTitle" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                {{input id="inputTitle" class="form-control" placeholder="Title" value=title}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputLink" class="col-lg-2 control-label">Link</label>
            <div class="col-lg-10">
                {{input id="inputLink" class="form-control" placeholder="Link" value=link}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                {{textarea id="inputDescription" class="form-control" placeholder="Description" rows=6 value=description }}
            </div>
        </div>
        <div class="form-group">
            <label for="inputPubDate" class="col-lg-2 control-label">Publish Date</label>
            <div class="col-lg-10">
                {{input id="inputPubDate" class="form-control" placeholder="Date" value=pubDate }}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="posts/new">
        <div class="panel panel-default">
            <div class="panel-heading">Create new post</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    {{partial "post_edit"}}
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary" {{action "create"}}>Create&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                            {{#link-to "posts.search" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="post">
        <ul class="nav nav-pills pull-right">
            {{#link-to "comments" id tagName="li"}}<a href="#">Show comments&nbsp;<span class="glyphicon glyphicon-comment"></span></a>{{/link-to}}
            {{#link-to "post.edit" tagName="li"}}<a href="#">Edit&nbsp;<span class="glyphicon glyphicon-edit"></span></a>{{/link-to}}
            {{#link-to "post.delete" tagName="li"}}<a href="#">Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></a>{{/link-to}}
        </ul>
        <h1>
            <small><a target="_blank" class="glyphicon glyphicon-new-window" {{bind-attr href=link}}></a></small>
            {{title}}<br>
            <small>{{from-now pubDate}}</small>
        </h1>

        <div class="row">
            {{#each tag in tags}}
            <small>{{#linkTo "tag" tag}}#{{tag.name}}{{/linkTo}}</small>
            {{/each}}
        </div>
        <hr>
        <p class="clearfix">
            {{{description}}}
        </p>
        <hr>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="post/edit">
        <form class="form-horizontal" role="form">
            {{partial "post_edit"}}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" {{action "update"}}>Update&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name="post/delete">
        <div class="alert alert-danger">
            <h2>Delete post</h2>
            Are you sure?
            <button class="btn btn-danger" {{action "delete"}}>Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
        </div>
    </script>



    <!-- COMMENTS -->


    <script type="text/x-handlebars" data-template-name="comments">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
            <ul class="nav nav-pills pull-right">
                {{#link-to "comments.new" tagName="li"}}<a href="#">New comment&nbsp;<span class="glyphicon glyphicon-plus"></span></a>{{/link-to}}
            </ul>
            <h4>Comments</h4>
            <br>
            <div class="list-group">
                {{#each }}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{userName}}</h4>
                    <p class="list-group-item-text">{{comment}}</p>
                </div>
                {{else}}
                <div class="alert alert-warning">
                    No comments yet
                </div>
                {{/each}}
            </div>
            {{outlet}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="comments/new">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group col-lg-8 col-md-8 col-sm-8 col-8">
                        <label for="inputComment" class="sr-only">Comment</label>
                        {{textarea id="inputComment" rows="3" class="form-control" placeholder="Comment text..." value=comment}}
                    </div>
                    <button type="submit" class="btn btn-primary" {{action "create"}}>Create&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
                </form>
            </div>
        </div>
    </script>





    <!-- TAGS -->


    <script type="text/x-handlebars" data-template-name="tags">
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="tags/show">
        <br>
        <form class="form-inline" role="form">
            <div class="form-group">
                {{input class="form-control" placeholder="Search" value=criteria}}
            </div>
            <button type="submit" class="btn btn-default" {{action "search" criteria }}>Search&nbsp;<span class="glyphicon glyphicon-search"></span></button>
        </form>
        <hr>
        <div class="row">
            {{#each tag in controller}}
            <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                <span class="badge pull-right">{{tag.posts.length}}</span>
                {{#link-to "tag" tag}}#{{tag.name}}{{/link-to}}
            </div>
            {{else}}
            <div class="alert alert-warning">
                No results
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="tag">
        <h1>#{{name}}</h1>
        <hr>
        <div class="list-group">
            {{#each posts}}
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    {{#link-to "post" id}}{{title}}{{/link-to}}
                    <small>{{from-now pubDate}}</small>
                </h4>
                <p class="list-group-item-text">
                    {{#each tag in tags}}
                    <small>{{#link-to "tag" tag}}#{{tag.name}}{{/link-to}}</small>
                    {{/each}}
                </p>
            </div>
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="user_form">
        <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-4">
                {{input id="inputUsername" class="form-control" placeholder="Username" value=name}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-4">
                {{input type="password" id="inputPassword" class="form-control" placeholder="Password" value=password}}
            </div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="register">
        <form class="form-horizontal" role="form">
            {{partial "user_form"}}
            <div class="form-group">
                <label for="inputConfirmation" class="col-lg-2 control-label">Confirmation</label>
                <div class="col-lg-4">
                    {{input type="password" id="inputConfirmation" class="form-control" placeholder="Confirmation" value=confirmation}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <button type="submit" class="btn btn-default" {{action "register"}}>Register</button>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name="login">
        <form class="form-horizontal" role="form">
            {{partial "user_form"}}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <div class="checkbox">
                        <label>
                            {{input type="checkbox" id="inputRememberMe" checked=rememberMe}} Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-4">
                    <button type="submit" class="btn btn-default" {{action "login"}}>Login</button>
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name="logout">
        <div class="alert alert-warning">
            <h2>Logout</h2>
            Are you sure?
            <button class="btn btn-danger" {{action "logout"}}>Logout&nbsp;<span class="glyphicon glyphicon-logout"></span></button>
            {{#link-to "index" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="profile">
        {{outlet}}
    </script>


    <script type="text/x-handlebars" data-template-name="profile/show">
        <ul class="nav nav-pills pull-right">
            {{#link-to "profile.edit" tagName="li"}}<a href="#">Change password&nbsp;<span class="glyphicon glyphicon-edit"></span></a>{{/link-to}}
        </ul>
        <div class="row">
            <div class="col-lg-2">Username</div><div class="col-lg-4">{{auth.user.name}}</div>
        </div>
        <div class="row">
            <div class="col-lg-2">Last logged</div><div class="col-lg-4">{{from-now auth.user.lastLoginDate}}</div>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="profile/edit">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-4">
                    {{input type="password" id="inputPassword" class="form-control" placeholder="Password" value=password}}
                </div>
            </div>
            <div class="form-group">
                <label for="inputConfirmation" class="col-lg-2 control-label">Confirmation</label>
                <div class="col-lg-4">
                    {{input type="password" id="inputConfirmation" class="form-control" placeholder="Confirmation" value=confirmation}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" {{action "update"}}>Update&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    {{#link-to "profile.show" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
                </div>
            </div>
        </form>
    </script>


    <!-- FEEDS -->

    <script type="text/x-handlebars" data-template-name="feeds">
        <ul class="nav nav-pills">
            {{#link-to "feeds.new" tagName="li"}}<a href="#">Create&nbsp;<span class="glyphicon glyphicon-plus"></span></a>{{/link-to}}
        </ul>
        <br>
        <div class="list-group">
            {{#each controller}}
            <div class="list-group-item">
                <ul class="nav nav-pills pull-right">
                    {{#link-to "feed.delete" id tagName="li"}}<a href="#">Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></a>{{/link-to}}
                    <li><a target="_blank" {{bind-attr href=aggFeedURL}}>Aggregated feed&nbsp;<span class="glyphicon glyphicon-share"></span></a></li>
                </ul>


                <div class="pull-right">


                </div>
                <h4 class="list-group-item-heading">
                    {{#link-to "feed.edit" id}}{{name}}{{/link-to}}
                    <br>
                    <small>{{description}}</small>
                </h4>
                <p class="list-group-item-text">
                    <ul>
                    {{#each sources}}
                        <li>
                            {{#link-to "source" id}}
                            {{name}}
                            {{/link-to}}
                        </li>
                    {{/each}}
                    </ul>
                </p>
            </div>
            {{/each}}
        </div>
        {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="feed-edit">
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                {{input id="inputName" class="form-control" placeholder="Name" value=name}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                {{textarea id="inputDescription" class="form-control" rows="3" placeholder="Description" value=description}}
            </div>
        </div>
        <div class="form-group">
            <label for="inputSource" class="col-lg-2 control-label">Sources</label>
            <div class="col-lg-10">
                {{view App.OptionsView
                contentBinding="userSources"
                selectedBinding="sources"
                labelPath="content.name"
                valuePath="content"}}
            </div>
        </div>
    </script>


    <script type="text/x-handlebars" data-template-name="feeds/new">
        <form class="form-horizontal" role="form">
            {{partial "feed-edit"}}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" {{action "create"}}>Create&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    {{#link-to "sources.index" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
                </div>
            </div>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name="feed/edit">
        <form class="form-horizontal" role="form">
            {{partial "feed-edit"}}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" {{action "update"}}>Update&nbsp;<span class="glyphicon glyphicon-save"></span></button>
                    {{#link-to "sources.index" tagName="button" class="btn btn-default"}}Cancel{{/link-to}}
                </div>
            </div>
        </form>
    </script>


    <script type="text/x-handlebars" data-template-name="option-group">
        <div class="list-group">
            {{yield}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="option-item">
        <label> {{view App.OptionCheckbox}}
            {{!view.content.name}} {{view.label}}
        </label>
    </script>

    <script type="text/x-handlebars" data-template-name="feed/delete">
        <div class="alert alert-danger">
            <h2>Delete feed</h2>
            Are you sure?
            <button class="btn btn-danger" {{action "delete"}}>Delete&nbsp;<span class="glyphicon glyphicon-trash"></span></button>
            <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
        </div>
    </script>


    <script src="@routes.Assets.at("javascripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/moment.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/moment.twitter.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/jquery.cookie.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/handlebars-1.0.0.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ember.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ember-data.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/libs/ember-auth.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-request-jquery.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-response-json.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-session-cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-strategy-token.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-module-ember-data.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-module-auth-redirectable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-module-rememberable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/libs/ember-auth-module-action-redirectable.js")" type="text/javascript"></script>


    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/post.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/comment.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/source.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/tag.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/user.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/models/feed.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/posts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/comments.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/sources.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/tags.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/profile.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/feeds.js")" type="text/javascript"></script>
</body>
</html>